<div class="content-padder content-background">
  <mat-card *ngIf="notSubmitted == true" >
      <mat-card-title>Input Data</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #homeForm="ngForm">
          <mat-form-field  class="form-group">
            <mat-label for="github_address">Github Address</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="model.git_address"
             id="github_address" name="github_address" #name="ngModel" required>
          </mat-form-field >
          <br>
          <mat-form-field class="form-group">
            <mat-label for="num_commits">Number of commits</mat-label>
            <mat-select class="form-control" id="num_commits" [(ngModel)]="model.num_commits"
            name="num_commits" #name="ngModel" required>
              <mat-option *ngFor="let num of numbers"  [value]="num">{{num}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field  class="form-group">
            <mat-label for="input_size">Input Size, between 1-10000</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="model.input_size"
             id="input_size" name="input_size" #name="ngModel" required>
          </mat-form-field >
          <mat-card-actions>
            <button mat-stroked-button color="primary" type="submit" class="btn btn-success" [disabled]="!homeForm.valid" >Submit</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
  </mat-card>
  <div class="load_container">
    <div *ngIf="loading == true" class="loader"></div>
  </div>
</div>
