.loader {
  border: 16px solid #ffffff; /* Light grey */
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.load_container {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.maindiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincard{
  width: 30%;
  height: 30%;
  box-sizing: border-box;
  /* needed styles below */
  display: flex;
  justify-content: space-between;
}

#wrapper {
  display: flex;
  justify-content: center;
}
