.maindiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincard{
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  /* needed styles below */
  display: flex;
  justify-content: space-between;
}

#wrapper {
  display: flex;
  justify-content: center;
}
