@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  margin-left: 0px;
  position: relative;
}
body {
  min-height: calc(100% - 80px);
  background-color: #F0F0F0;
}

.load_container {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}
